<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
<%= image_tag('postboxalive.gif', alt: 'walking postbox', class: 'img-responsive') %>
<%= link_to 'Back', products_path %>