<h1>Featured Products</h1>

<div class="container">
  <div class="row">
      <%= render @products %>
    <% end %>
  </div>
</div>

<%= link_to new_product_path, class: 'btn btn-success' do %>
	<i class="glyphicon glyphicon-plus"></i>New Product
<% end %>


